.post-page {
    margin: 170px auto;
}

.post-page__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post__title {
    font-size: clamp(36px, 5vw, 64px);
    font-weight: 700;
}

.post__date {
    color: #777;
    font-size: 14px;
}

.post__image {
    width: 100%;
    max-height: 500px;
    margin: 25px 0;
    object-fit: cover;
}

.post__content {
    line-height: 140%;
    font-size: 18px;
}

.post__content article {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.post__content article h2, 
.post__content article h3 {
    margin-top: 15px;
}

.post__content article ul {
    margin-left: 20px;
}

@media (max-width: 768px) {
    .post-page {
        margin: 120px 0 60px 0;
    }
}