.form {
    width: 100%;
    background: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    padding-bottom: 100px;
    position: relative;
}

.form__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.form__background {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.form__image {
    width: 100%;
    object-fit: cover;
    z-index: 0;
}

.form__container {
    padding: 40px;
    width: 100%;
    max-width: 750px;
    box-shadow: 7px 8px 54px 0 rgba(124, 78, 228, .3);
    border-radius: 16px;
    margin-top: -130px;
    position: relative;
    background-color: #fff;
}

.form__group {
    display: flex;
    gap: 20px;
    width: 100%;
}

.form__input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: 0;
    transition-duration: .5s;

}

.form__textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 100px;
    resize: none;
    font-size: 14px;
    outline: 0;
    transition-duration: .5s;
}

.form__input:focus,
.form__textarea:focus {
    border: 1px solid #7C4EE4;
}

.form__button {
    width: 100%;
    background: #7C4EE4;
    color: white;
    border: none;
    padding: 12px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: .5s;
    max-width: 177px;

}

.form__button:hover {
    opacity: .5;
}

@media (max-width: 480px) {
    .form__group {
        flex-direction: column;
    }

    .form__button {
        max-width: 100%;
    }

    .form__container {
        margin-top: -20px;
        padding: 20px;
    }
}